{% assign values = '' %}
{% assign option_index = 0 %}

{% assign current_variant_value = "" %}

{% for option in current_variant.options[forloop.index0] %}
  {% assign current_variant_value = option %}
{% endfor %}

<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="header">{{ downcased_option }}</div>
  <select class="size-dropdown" data-index="option{{ option_index }}" id="SingleOptionSelector-{{ forloop.index0 }}">
    <option disabled selected value="">Choose your size</option>
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}
        {% assign original_value = value | handleize | downcase %}
        {% assign looped_option = current_variant_value | handleize | downcase %}
        <option {% if variant.options.size == 1 and variant.available == false %}disabled{% endif %} name="{{ value }}" value="{{ value }}">
          {{ value }}
        </option>
      {% endunless %}
    {% endfor %}
  </select>
</div>
