{% render 'section-settings', section: section %}
<style>
  #shopify-section-{{ section.id }} #easy-care{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .content-wrap{
    width: 40%
  }
  #shopify-section-{{ section.id }} .text-wrap{
    max-width: 450px;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 40px;
  }
  #shopify-section-{{ section.id }} .title{
    text-align: left;
    font-size: 40px;
    font-family: 'Playfair Display';
    letter-spacing: -1.2px;
    color: #000000;
  }
  #shopify-section-{{ section.id }} .desc{
    font-size: 18px;
    font-family: 'Lato';
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 400;
  }
  #shopify-section-{{ section.id }} .button{
    text-align: left;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.36px;
    padding: 15px 22px;
    border: 2px solid;
    display: inline-block;
  }
  #shopify-section-{{ section.id }} .image-wrap{
    display: flex;
    width: 60%;
    flex-grow: 1;
  }
  #shopify-section-{{ section.id }} img{
    width: 100%;
  }
  .mobile-image{
    display: none;
  }
  @media (max-width: 1200px){
    #shopify-section-{{ section.id }} .title{
      font-size: 35px;
    }
    #shopify-section-{{ section.id }} .desc{
      font-size: 16px;
      margin: 20px 0px;
    }
    #shopify-section-{{ section.id }} .button{
      padding: 10px 15px;
      font-size: 15px;
    }
  
  }
  @media (max-width: 768px){

    #shopify-section-{{ section.id }} #easy-care{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 20px;
    }
    #shopify-section-{{ section.id }} .content-wrap{
      width: 100%;
      text-align: center;
      padding-bottom: 40px;
    }
    #shopify-section-{{ section.id }} .text-wrap{
      max-width: 300px;
      padding: 0px 20px;
      margin: auto;
    }
    #shopify-section-{{ section.id }} .image-wrap{
      width: 100%;
    }
    #shopify-section-{{ section.id }} .title{
      font-size: 25px;
      text-align: center
    }
    #shopify-section-{{ section.id }} .desc{
      font-size: 12px;
    }
    #shopify-section-{{ section.id }} .button{
      padding: 6px 10px;
      font-size: 12px
    }
    #shopify-section-{{ section.id }} .mobile-image{
      display: none;
    }
    #shopify-section-{{ section.id }} .desktop-image{
      display: none;
    }
    #shopify-section-{{ section.id }} .mobile-image{
      display: block
    }
  }
</style>
<section id="easy-care">
  <div class="content-wrap">
    <div class="text-wrap">
      <div class="title">{{ section.settings.title }}</div>
      <div class="desc">{{ section.settings.body }}</div>
      <a href="{{ section.settings.btn_link }}"class="button">{{ section.settings.btn_text }}</a>
    </div>
  </div>
  <div class="image-wrap">
    <img class="desktop-image" src="{{ section.settings.image | img_url:"2000x"}}" alt=""/>
    <img class="mobile-image" src="{{ section.settings.mobile_image | img_url:"2000x"}}" alt=""/>    
  </div>
</section>

{% schema %}
  {
    "name": "Easy Care",
    "settings": [
      {
        "type": "range",
        "id": "ptop",
        "min": 0,
        "max": 100,
        "unit": "px",
        "default": 40,
        "step": 10,
        "label": "Padding Top"
      },
      {
          "type": "range",
          "id": "pbottom",
          "min": 0,
          "max": 100,
          "unit": "px",
          "default": 40,
          "step": 10,
          "label": "Padding Bottom"
      },
      {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":"image_picker",
        "id":"mobile_image",
        "label":"Image (mobile)"
      }
    ],
    "presets": [
      {
        "name": "Easy Care"
      }
    ]
  }
{% endschema %}
