<div class="tpfilter-item is-hidden" data-tpfilter-item="q9">
    <div class="container">
    <div class="tpfilter-item__inner">
      {%- if section.settings.ttf_v2_q9_title != blank -%}<h2 class="tpfilter-item__title">{{ section.settings.ttf_v2_q9_title}}</h2>{%- endif -%}
      {%- if section.settings.ttf_v2_q9_sub_title != blank -%}<p class="tpfilter-item__sub-title">{{ section.settings.ttf_v2_q9_sub_title}}</p>{%- endif -%}
      <div class="tpfilter-options trouser-cut-shape">
        {% for block in section.blocks %}
            <div class="tpfilter-option tpfilter-option--card">
                <input id="customer-trouser-cut-{{ forloop.index }}" type="{{ section.settings.question_option }}" name="trouser_cut_size" value="{{ block.settings.ttf_v2_q9 }}" data-tpfilter-answer>
                <label for="customer-trouser-cut-{{ forloop.index }}">
                    <img loading="lazy" class="lazyload" height="auto" width="{{  block.settings.ttf_v2_q9_img.width }}" src="{{ block.settings.ttf_v2_q9_img | img_url: '300x' }}" alt="" class="tpfilter-option__img">
                    <div class="tpfilter-option__text">{{ block.settings.ttf_v2_q9 }}</div>
                </label>
            </div>
        {% endfor %}
      </div>
      {% render 'tff-v2-button' %}
    </div>
</div>
  </div>

{% schema %}
{
    "name": "TFF V2 - q9 Trouser Cut",
    "settings": [
        {
            "id": "ttf_v2_q9_sub_title",
            "type": "text",
            "label": "Sub Title"
        },
        {
            "id": "ttf_v2_q9_title",
            "type": "text",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "question_option",
            "label": "Question Option",
            "options": [
              {
                "value": "checkbox",
                "label": "Checkbox"
              },
              {
                "value": "radio",
                "label": "Radio"
              }
            ]
        }

    ],
    "blocks": [
        {
            "type": "question_nine",
            "name": "Add Question",
            "settings": [
                {
                    "type": "text",
                    "id": "ttf_v2_q9",
                    "label": "Add Question"
                },
                {
                    "type": "image_picker",
                    "id": "ttf_v2_q9_img",
                    "label": "Add Icon"
                }
            ]
        }
    ]
}
{% endschema %}