<div class="tpfilter-item is-hidden" data-tpfilter-item="q1">
   <div class="container">
    <div class="tpfilter-item__inner">
      {%- if section.settings.ttf_v2_q1_sub_title != blank -%}<p class="tpfilter-item__sub-title">{{ section.settings.ttf_v2_q1_sub_title}}</p>{%- endif -%}
      {%- if section.settings.ttf_v2_q1_title != blank -%}<h2 class="tpfilter-item__title">{{ section.settings.ttf_v2_q1_title}}</h2>{%- endif -%}
      <div class="tpfilter-options brings-today">
        {% for block in section.blocks %}
            <div class="tpfilter-option tpfilter-option--rect">
                <input id="reason-to-be-here-{{ forloop.index }}" type="{{ section.settings.question_option }}" name="what_brings_today" value="{{ block.settings.ttf_v2_q1 }}" data-tpfilter-answer>
                <label for="reason-to-be-here-{{ forloop.index }}">{{ block.settings.ttf_v2_q1 }}</label>
                {% render 'icon-checkmark' %}
            </div>
        {% endfor %}
      </div>
      {% render 'tff-v2-button' %}
    </div>
  </div>
</div> 

{% schema %}
{
    "name": "TFF V2 - Q1 Today",
    "settings": [
        {
            "id": "ttf_v2_q1_sub_title",
            "type": "text",
            "label": "Sub Title"
        },
        {
            "id": "ttf_v2_q1_title",
            "type": "text",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "question_option",
            "label": "Question Option",
            "options": [
              {
                "value": "checkbox",
                "label": "Checkbox"
              },
              {
                "value": "radio",
                "label": "Radio"
              }
            ]
        }

    ],
    "blocks": [
        {
            "type": "question_one",
            "name": "Add Question",
            "settings": [
                {
                    "type": "text",
                    "id": "ttf_v2_q1",
                    "label": "Add Question"
                }
            ]
        }
    ]
}
{% endschema %}