<!-- TOSHI Scripts -->
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script type='text/javascript' defer src='https://integration-cdn.toshi.co/3.0/main.js'></script>
<script type='text/javascript' id='toshi-modal-script' defer data-api-key='8d776508f605432890bcc9434e0df4d6' data-environment='production' data-threshold='190.00' src='https://integration-cdn.toshi.co/3.0/integrations/shopify-tbyb.js'></script>


<!--TOSHI Try-Before-You-Buy Cart button styles -->
<style>
#toshi-tbyb{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 500px){
  #toshi-tbyb{
	  max-width: none; 
  }
}
</style>

<div class="container cart-wrapper">
  <div class="row">
    <div class="col-12">
        <h1>{{ 'cart.general.title' | t }}</h1>
    </div>
  </div>

{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <div class="row">
      <div class="col-sm-8">
          <table class="cart-table">
            <thead class="small--hide">
              <tr>
                <th colspan="2">{{ 'cart.label.product' | t }}</th>
                <th>{{ 'cart.label.quantity' | t }}</th>
                <th>{{ 'cart.label.price' | t }}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}

              {% comment %}

              Cart Item Template
              =====================
              The data-label attributes on <td> elements are mobile-friendly
              helpers used for responsive-table labels
              {% endcomment %}

                <tr class="responsive-table-row">

                  <td data-label="{{ 'customer.order.product' | t }}">

                    {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}" class="cart-product-image">
                        {{ item | img_url: '240x240' | img_tag: item.title }}
                      </a>
                    {% endif %}

                  </td>
                  <td>
                    <div class="product-summary">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>

                      {% unless item.product.has_only_default_variant %}
                        <p class="product-variant-text">{{ item.variant.title }}</p>
                      {% endunless %}
                      {%- assign property_size = item.properties | size -%}

                      {% if property_size > 0 %}
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                          {{ p.first }}:

                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          {% endunless %}
                        {% endfor %}
                      {% endif %}
                      <!-- <input type="number"
                             name="updates[]"
                             id="updates_{{ item.key }}"
                             value="{{ item.quantity }}"
                             min="0"
                             aria-label="{{ 'cart.general.item_quantity' | t }}"
                             class="qty-cart form-border">
                      <input type="submit" name="update" value="Update" class="qty-update-btn" /> -->
                    </div>
                  </td>
                  <td data-label="{{ 'cart.label.quantity' | t }}">
                    <div class="qty-selector">
                      <p class="e-qty hide-mobile">Qty:</p>
                      <div class="e-controls">
                        <input
                          id="qty-id-{{ item.id }}"
                          class="e-input js-qty"
                          type="text"
                          value="{{ item.quantity }}"
                          maxlength="10"
                          autocomplete ="false"
                          readonly
                          name="quantity"
                          data-line="{{ forloop.index }}"
                          data-qty="{{ item.quantity }}">
                        <div class="e-buttons">
                          <button
                            class="e-btn"
                            data-id="{{ item.id }}"
                            type="button"
                            onclick="qty('incr', 'cart')">+</button>
                          <button
                            class="e-btn m-decr"
                            data-id="{{ item.id }}"
                            type="button"
                            onclick="qty('decr', 'cart')">_</button>
                        </div>
                      </div>
                      <div id="qty-id-error-{{ item.id }}" class="error hide" data-qty-error></div>
                    </div> {% comment %} /qty-selector {% endcomment %}
                  </td>
                  <td data-label="{{ 'cart.label.price' | t }}">
                    {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                      {{ item.price | money }}
                      <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                      <s>{{ item.original_price | money }}</s>
                    {% else %}
                    <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                      {{ item.price | money }}
                    {% endif %}
                  </td>
                  <td>
                    <a class="btn btn-border btn-small cart__remove" data-vid="{{ item.variant_id }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                      <small>{{ 'cart.general.remove' | t }}</small>
                    </a>
                  </td>

                </tr>

              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="col-sm-4">
        <div class="order-summary-box">
          <table class="prices-summary">
            <tr>
              <td>
                {{ 'cart.general.subtotal' | t }}
              </td>
              <td>
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
                {{ cart.total_price | money }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery
              </td>
              <td>
                <span class="delivery-calculation-text">Calculated at checkout</span>
              </td>
            </tr>
          </table>


          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
          {% endif %}
          {% if settings.cart_notes_enable %}
            <textarea name="note" placeholder="{{ 'cart.general.note' | t }}" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          {% endif %}
          <!-- <input type="submit" name="update" class="btn btn-border" value="{{ 'cart.general.update' | t }}"> -->
          <input type="submit" name="checkout" class="btn btn-full btn-primary" value="{{ 'cart.general.checkout' | t }}">
          
          <!---Toshi Try Before You Buy button
          <div id='toshi-tbyb'></div>
            --->
          
          {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
          <ul class="payment-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                <li>
                  {%- assign icon_name = type | prepend: 'icon-' -%}
                  {% render icon_name %}
                  <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                </li>
              {% endif %}
            {% endfor %}
            
          </ul>
          <p class="voucher-code-text">
            Got a discount code? Add it in the next step.
          </p>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="row">
    <div class="col-12">
      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<script>
  window.DISABLE_MINICART_OPENING = true;
</script>