{% comment %}Copy following content and paste to templates/collection.liquid file{% endcomment %}

{% paginate collection.products by 12 %}

{% if collection.handle == "all" %}
  <div class="collection-header" style="background: url({{ settings.all_products_image | img_url: 'master' }});">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <h1>{{ settings.all_products_title }}</h1>
            <div class="rte collection-description hidden-small">
              {{ settings.all_products_description }}
            </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="collection-header" style="background: url({{ collection.image | img_url: 'master' }});">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <h1>{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <div class="rte collection-description hidden-small">
              {{ collection.description }} 
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="container">
    <div class="row">
    {% for product in collection.products %}
    <div class="col-6 col-sm-6 col-md-4">
      {% render 'product-grid' %}
    </div>
    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
</div>

  {% if paginate.pages > 1 %}
    {% render 'pagination' %}
  {% endif %}
{% endpaginate %}
